In [ ]:
x = 5

In [ ]:
print(x)

In [ ]:
x

In [ ]:
1x

In [ ]:
name = 'Maradona'

In [ ]:
type(name)